# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/texgen?schema=public

# JWT
JWT_SECRET=secret123456789
JWT_EXPIRATION=24h

# AWS
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=us-east-1
AWS_S3_BUCKET=your-bucket-name

# Stripe
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret

OPENAI_API_KEY=

# Redis (for Bull queue)
REDIS_URL=redis://localhost:6379